.column-one {
  /*border: 2px solid red;*/
  width: 25%;
  float: left;
}

.column-two {
  /*border: 2px solid purple;*/
  width: 50%;
  float: left;
}

.column-three {
  /*border: 2px solid greenyellow;*/
  width: 25%;
  float: left;
}

.space-third {
  width: 33%;
  float: left;
  font-size: x-small;
}
.full-width {
  width: 100%;
}

.border-one {
  border: 2px solid blue;
  width: 25%;
  float: left;
}

.horizontal-spacer {
  margin-right: 20px;
}

.vertical-spacer {
  margin-bottom: 20px;
}